/* -------------------- CSS BY Amanda Thompson -------------------------------------- */

/* -------------------- IMPORTED FONTS -------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/*-------------------- CSS RESET ---------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  background-color: var(--purple);
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -------------------- ROOT VARIABLES  -------------------- */
:root {
  --teal: #4CA7C0;
  --purple: #484FB7;
  --lavender: #6B8FE7;
  --yellow: #E9BB57;
  --pink: #D9526F;
  --dk-gray: #1E1E1E;
  --white: #ffffff;
}

/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/
main {
  background-color: var(--purple);
}

h1,
h2 {
  font-family: 'Kavoon';
  color: var(--white);
}

h3,
h4,
p {
  font-family: 'Inter';
}

.h1 {
  position: relative;
  z-index: 1;
  width: 100%;
  font-size: 3em;
  background-color: var(--lavender);
  text-align: center;
  padding: 50px 20px 30px 20px;
  border-radius: 0 0 30px 30px;
  box-sizing: border-box;
}

.p1 {
  font-size: 0.85em;
  position: relative;
  z-index: 0;
  width: 97%;
  padding-top: 35px;
  padding-bottom: 5px;
  margin: 0 auto;
  top: -20px;
  border-radius: 0 0 30px 30px;
  box-sizing: border-box;
  color: var(--white);
  font-style: italic;
  font-weight: 500;
}

.p2 {
  display: none;
}

.menu {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 999;
  padding: 13px;
  background-color: var(--yellow);
  border-radius: 0 0 10px 15px;
  font-size: 1.3em;
  font-weight: 700;
  font-style: italic;
  color: var(--dk-gray);
}

nav h2 {
  font-size: 1.5em;
  display: none;
}

h2 {
  font-size: 2em;
  padding-top: 15px;
}

h3 {
  font-size: 1.5em;
  color: var(--yellow);
  font-weight: 700;
  padding: 10px 0 15px 15px;
}

h4 {
  font-size: 1.15em;
}

header>p {
  background-color: var(--pink);
  text-align: center;
}

nav {
  display: none
}

header {
  background-color: var(--purple);
}

.our-services {
  padding-top: 20px;
  padding-left: 15px;
}

.services {
  background-color: var(--white);
  width: 90%;
  margin: 0 auto 15px;
  border-radius: 15px;
}

.services img {
  padding: 20px 0px 10px 30px;
}

.services h4 {
  color: var(--purple);
  font-weight: 700;
  padding-left: 30px;
  padding-bottom: 10px;
}

.services p {
  padding: 0 55px 25px 30px;
  line-height: 1.4;
}

.choose-us {
  display: flex;
  flex-direction: column;
  background-color: var(--pink);
  padding: 15px 0 15px 0;
}

.choose-us h2 {
  text-align: left;
  padding-left: 15px;
  padding-top: 5px;
  margin-bottom: 20px;
}

.pers-proven,
.supp-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 10px;
  position: relative;
}

.personalized {
  background-color: var(--teal);
  text-align: center;
  font-weight: 600;
  border-radius: 15px;
  padding: 30px 10px 30px 10px;
  max-width: 10rem;
}

.proven {
  background-color: var(--lavender);
  text-align: center;
  font-weight: 600;
  border-radius: 15px;
  padding: 30px 20px 0px 20px;
}

.supportive {
  background-color: var(--yellow);
  text-align: center;
  font-weight: 600;
  border-radius: 15px;
  padding: 20px 10px 20px 10px;
  max-width: 10rem;
  align-content: center;
}

.flexible {
  background-color: var(--white);
  text-align: center;
  font-weight: 600;
  border-radius: 15px;
  padding: 30px 50px;
  max-width: 5rem;
}

.pricing h2 {
  padding-left: 15px;
}

.price-table {
  width: 60%;
  border-collapse: collapse;
  margin: 0 auto;
}

.price-table th,
.price-table td {
  padding: 15px;
  text-align: left;
  border-bottom: 2px solid var(--yellow);
}

.price-table th {
  background-color: var(--yellow);
  color: var(--dk-gray);
  font-weight: 700;
  text-align: center;
}

.price-table td {
  color: var(--dk-gray);
  background-color: var(--white);
  border-right: 2px solid var(--yellow);
}

.price-table thead {
  border-bottom: 2px solid #333;
}

.first-step {
  background-color: var(--pink);
  margin-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.first-step h2 {
  text-align: center;
}

.first-step p {
  color: var(--white);
  padding: 5px 10px 10px 10px;
  line-height: 1.4;
}

.schedule {
  padding-bottom: 10px;
}

.schedule p {
  background-color: var(--white);
  color: var(--dk-gray);
  text-align: center;
  width: 65%;
  margin: 0 auto;
  padding: 20px 30px 20px 30px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 2);
  font-weight: 700;
  font-size: .9em;
}

.footer {
  background-color: var(--lavender);
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  color: var(--white);
  font-size: .5em;
  font-weight: 500;
  margin-bottom: 50px;
  border-radius: 0 0 30px 30px;
}

.copyright {
  padding-left: 100px;
}

.terms {
  text-decoration: underline;
  padding-right: 70px;
}

/*-------------------- MEDIA QUERY (medium) --------------------------------*/
@media (min-width: 620px) {
  .one-on-one {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .services {
    width: 90%;
    margin: 0 auto 20px;
  }

  .services:nth-child(3) {
    grid-column: 1 / -1;
    width: 95%;
  }

  .group-coaching {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .p1 {
    display: none;
  }

  .p2 {
    display: block;
    font-size: 0.85em;
    position: relative;
    z-index: 0;
    width: 97%;
    padding-top: 35px;
    padding-bottom: 5px;
    margin: 0 auto;
    top: -20px;
    border-radius: 0 0 30px 30px;
    box-sizing: border-box;
    color: var(--white);
    font-style: italic;
    font-weight: 500;
  }

  .services p {
    padding: 0 20px 20px 20px;
    font-size: .9em;
  }

  .services h4,
  .services img {
    padding-left: 20px;
  }

  .ppsf {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
  }

  .pers-proven {
    display: flex;
    gap: 10px;
    padding-left: 10px;
    justify-content: space-evenly;
    width: 100%;
  }

  .supp-flex {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    padding-right: 10px;
    width: 100%;
  }

  .personalized {
    padding: 30px 0px 30px 0px;
  }

  .flexible {
    padding: 30px 20px 30px 20px;
    max-width: 8rem;
  }

  .t1 {
    text-align: left;
  }

  .t1-t2,
  .t3-t4 {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 10px;
  }

  .pricing h3 {
    font-size: 1.25em;
    padding: 10px 0 10px 0px;
    margin: 0 -1.5rem;
  }

  .price-table {
    width: 100%;
  }

  .first-step h2 {
    text-align: left;
    padding-left: 15px;
  }

  .first-step p {
    flex-basis: 45%;
    padding: 15px 0px 10px 15px;
  }

  .p-schedule {
    display: flex;
    flex-direction: row;
  }

  .schedule p {
    width: 100%;
    margin: 10px auto;
    padding: 20px 45px;
  }

  h2 {
    font-size: 1.7em;
  }
}

/*-------------------- MEDIA QUERY (large) ------------------------------------*/
@media (min-width: 950px) {

  .menu {
    display: none;
  }

  .nav {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 999;
    padding: 15px 0px 15px 40px;
    background-color: var(--yellow);
    border-radius: 0 0 10px 15px;
    font-size: .75em;
    font-weight: 600;
    color: var(--dk-gray);
  }

  .nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
  }

  .nav li {
    margin-right: 50px;
  }

  .services-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .service-title {
    display: flex;
    font-size: .9em;
    text-align: left;
    padding: 10px 0;
  }

  .one-on-one,
  .group-coaching,
  .workshops,
  .online {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .services {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
  }

  .coaching-section {
    display: flex;
    flex-direction: column;
    width: 20%;
  }

  .services img {
    max-width: 50%;
    max-height: auto;
    padding: 10px 0px 0px 10px;
  }

  .services h4 {
    padding-left: 10px;
    padding-bottom: 0;
    font-size: .8em;
    white-space: nowrap;
  }

  .services p {
    padding: 0px 10px 10px;
    font-size: .6em;
  }

  .choose-us {
    width: 100%;
  }

  .choose-us h2 {
    margin-bottom: 10px;
  }

  .personalized, .proven, .supportive, .flexible {
    max-width: 50%;
    text-align: center;
    font-size: .9em;
  }

  .personalized {
    padding: 25px 20px 20px 20px;
  }

  .proven {
    padding: 25px 50px 20px 50px;
  }

  .supportive {
    padding: 5px 20px 30px 20px;
  }

  .flexible {
    padding: 30px 40px 50px 40px;
  }

  .ppsf {
    display: flex;
    justify-content: space-evenly;
    gap: 0px;
  }

  .choose-us h4 {
    font-size: 1em;
    white-space: nowrap;
  }

  .t1-t4 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .t1-t2, .t3-t4 {
    justify-content: space-evenly;
    margin-left: 0;
  }

  .pricing h3 {
    font-size: 1em;
    margin: 0;
  }

  .price-table th, .price-table td {
    font-size: .8em;
  }


  /*-------------------- MEDIA QUERY (xl) ---------------------------------------*/